<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687113410990-r52ab34puv9m7803ogrd6u1as5kvhld1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687113410990-r52ab34puv9m7803ogrd6u1as5kvhld1</string>
	<key>API_KEY</key>
	<string>AIzaSyBGNZEJX7z61feOxl07VyBX2SQnJOX40t8</string>
	<key>GCM_SENDER_ID</key>
	<string>687113410990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPrivateNotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-private</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-private.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687113410990:ios:6cae12e20cf589707e103f</string>
</dict>
</plist>